[db]
faiss_db_root = "data/db_langchain"
embedding_model_name = "sentence-transformers/all-mpnet-base-v2" #all-mpnet-base-v2" #all-MiniLM-L6-v2" #"sentence-transformers/all-mpnet-base-v2"  # "textembedding-gecko@001" "sentence-transformers/paraphrase-MiniLM-L3-v2"

[preprocess]
mode = "SETUP" # or "UPDATE"
data_dir = "data/"
download_dir = "pdf_downloads"
directory = "json_conversions"
split_directory = "json_split"
split_length = 2000
split_overlap = 200
latest_only = true

[search]
generative_model_name = "mistralai/Mistral-7B-Instruct-v0.3"  # "text-unicorn" "text-bison@001" "google/flan-t5-large" "lmsys/fastchat-t5-3b-v1.0" "google/flan-t5-large" "google/flan-ul2"
k_docs = 2
k_contexts = 5
similarity_threshold = 2.0     # Threshold score below which a document is returned in a search
llm_temperature = 0.0
answer_threshold = 0.5 # Threshold score below which a answer is returned in a search
document_threshold = 0.9 # Threshold score below which a document is returned in a search

[app]
latest_max = 2    # Takes value int >= 0, commonly 0, 1 or 2
